
.header-zone {
    
    position: absolute;
    // left: 500px;
    top: -8px;
    width: 35%;
    

    h1 {
      
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #ffd700;
      font-weight: 400;
      position: absolute;
      // margin-bottom: 30px;
      // left: 400px;

      &:before {
        content: '';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
      //   margin-top: -10px;
      //   left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &:after {
        content: '';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
      
  }
}


// .sub header-zone, h2{
//   // position: absolute;
//   padding-top: 20rem;
//   padding-left: 4rem;
//   font-size: 20px;
// }

// .port-container {
//   position: relative;
//   padding-left: 15%;
//   padding-top: 14%;
//   .col-container{
//     padding: 25px;
//     font-size: 2rem;
//   }
  
// }




